<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Foxconn</title>
    <link rel="icon" type="image/svg+xml" sizes="300x57" href="assets/img/Loog%20azul%20SVG.svg">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/countdown-timer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="assets/css/Pretty-Login-Form.css">
    <link rel="stylesheet" href="assets/css/Pretty-Product-List.css">
    <link rel="stylesheet" href="assets/css/Q-Timer.css">
    <link rel="stylesheet" href="assets/css/smoothproducts.css">
    <link rel="stylesheet" href="assets/css/Video-Responsive.css">
</head>

<body class="d-flex flex-grow-1 flex-shrink-1 justify-content-between align-items-center align-content-center align-self-center" style="height: 1080;padding-top: 0;">
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top clean-navbar" style="background-color: #005198;">
        <div class="container"><img src="assets/img/Logo%20Blsnco.svg" style="width: 102px;"><a class="navbar-brand logo" href="#"></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav d-xl-flex flex-grow-1 justify-content-center ml-auto">
                    <li class="nav-item item" role="presentation"><a class="nav-link active" href="Index.html">Inicio</a></li>
                    <li class="nav-item item" role="presentation"><a class="nav-link" href="Catalago.html">Catálago</a></li>
                </ul>
        </div><i class="fa fa-user-circle d-xl-flex justify-content-xl-center" style="color: rgb(255,255,255);font-size: 25px;padding-right: 0;width: 46px;"></i><a href="#" style="color: rgb(255,255,255);font-weight: bold;" target="_blank">Foxconn user</a></div>
    </nav>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="assets/js/smoothproducts.min.js"></script>
    <script src="assets/js/theme.js"></script>
    <script src="assets/js/countdown-timer.js"></script>
</body>

</html>